.main{
    background-color: #FFFFFF;

    color: #000000;
    width: 100%;
}
.search{
    padding: 0px 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 10px rgb(248, 248, 248);
    height: 70px;

}
.search>div:nth-child(1){
   gap:10px;
    align-items: center;
    display: flex;
   border: 1px solid rgb(187, 187, 187);
    padding: 10px 20px;
    border-radius: 10px;
    

}
.search>div:nth-child(1)>input{
    border: none;
    padding: 3px;
    width: 400px;
    background: none;
      outline: none;
}
.search>div:nth-child(1)>input:hover{
    background: none;
     border: none;
     cursor: text;
}
.darkmode{
    cursor: pointer;
}